<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alta de clientes</title>
    <style>
      input,
      label {
        display: block;
        width: 200px;
      }
      label {
        margin-top: 16px;
      }
      input[type="submit"] {
        margin-top: 24px;
      }
    </style>
  </head>
  <body>
    <h1>Agregar plato</h1>
    <form action="/altaplatos" method="post">
      <label>Plato para agregar</label>
      <input type="text" name="plato" required />
      <label>Descripcion del plato</label>
      <input type="text" name="descrip" required />
      <label>Categoria del plato</label>
      <input type="text" name="catego" required />
      <label>Imagen del plato</label>
      <input
        type="text"
        name="imagen"
        placeholder="URL de la comida"
        required
      />
      <input type="submit" value="Agregar" />
    </form>
    {%if mensaje %}
    <p>{{mensaje}}</p>
    {% endif%}
    <h3><a href="/">Volver a la home</a></h3>
  </body>
</html>
